Repository IgniteUI/ignite-ui, pull requests merged in 2018-11, with the labels that each got.

#1836 Set null value despite min/max values
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/numericEditor/numericEditor-test.js
Labels: numeric-editor, status: verified, version: 19.1

#1839 Set null value despite min/max values
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/numericEditor/tests.html
Labels: numeric-editor, status: verified, version: 17.2

#1838 Set null value despite min/max values
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/numericEditor/tests.html
Labels: numeric-editor, status: verified, version: 18.1

#1837 Set null value despite min/max values
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/numericEditor/numericEditor-test.js
Labels: numeric-editor, status: verified, version: 18.2

#1851 igDateEditor continues to spin down, #1846
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, editors, severity: medium, status: verified, version: 18.1

#1850 igDateEditor continues to spin down, #1846
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, editors, severity: medium, status: verified, version: 18.2

#1844 igDateEditor continues to spin down, #1846
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, editors, severity: medium, status: verified, version: 19.1
