Repository IgniteUI/ignite-ui, pull requests merged in 2018-08, with the labels that each got.

#1761 enclose menu item text in spans
  src/html/structure/modules/infragistics.ui.financialchart.templates.html
Labels: status: verified, version: 18.2

#1763 fully urlencode svg, set min-height on price pane
  src/css/structure/modules/infragistics.ui.financialchart.css
Labels: status: verified, version: 18.2

#1777 apply min-height to price pane and children
  src/css/structure/modules/infragistics.ui.financialchart.css
Labels: status: verified, version: 18.2

#1779 1754 - Hide scrollbar during editor drop down animation
  src/css/structure/modules/infragistics.ui.editors.css
Labels: editors, status: verified, styling, version: 18.2

#1781 1724 - igTree - Node no longer executes html-encoded scripts on drag
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 18.2

#1782 1724 - igTree - Node no longer executes html-encoded scripts on drag - 18.1
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tests.htm
Labels: status: verified, tree, version: 18.1

#1783 1724 - igTree - Node no longer executes html-encoded scripts on drag - 17.2
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tests.htm
Labels: status: verified, tree, version: 17.2

#1778 top10 window styling update
  src/css/structure/modules/infragistics.ui.spreadsheet.css
Labels: spreadsheet, styling, version: 18.2

#1775 Financial chart toolbar themes styling
  src/css/structure/fonts/jquery-ui.eot
  src/css/structure/fonts/jquery-ui.svg
  src/css/structure/fonts/jquery-ui.ttf
  src/css/structure/fonts/jquery-ui.woff
  src/css/structure/modules/infragistics.ui.financialchart.css
  src/css/themes/bootstrap3/default/icons-styles.css
  src/css/themes/bootstrap3/default/ignite-ui-variables.less
  src/css/themes/bootstrap3/default/infragistics.theme.css
  src/css/themes/bootstrap3/default/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/bootstrap3/default/modules/modules.less
  src/css/themes/bootstrap3/flatly/icons-styles.css
  src/css/themes/bootstrap3/flatly/ignite-ui-variables.less
  src/css/themes/bootstrap3/flatly/infragistics.theme.css
  src/css/themes/bootstrap3/flatly/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/bootstrap3/flatly/modules/modules.less
  src/css/themes/bootstrap3/superhero/icons-styles.css
  src/css/themes/bootstrap3/superhero/ignite-ui-variables.less
  src/css/themes/bootstrap3/superhero/infragistics.theme.css
  src/css/themes/bootstrap3/superhero/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/bootstrap3/superhero/modules/modules.less
  src/css/themes/bootstrap3/yeti/icons-styles.css
  src/css/themes/bootstrap3/yeti/ignite-ui-variables.less
  src/css/themes/bootstrap3/yeti/infragistics.theme.css
  src/css/themes/bootstrap3/yeti/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/bootstrap3/yeti/modules/modules.less
  src/css/themes/bootstrap4/default/_ignite-ui-variables.scss
  src/css/themes/bootstrap4/default/icons-styles.css
  src/css/themes/bootstrap4/default/infragistics.theme.css
  src/css/themes/bootstrap4/default/infragistics.theme.css.map
  src/css/themes/bootstrap4/default/infragistics.theme.scss
  src/css/themes/bootstrap4/default/modules/_infragistics.ui.chart.toolbar.scss
  src/css/themes/bootstrap4/default/modules/_modules.scss
  src/css/themes/infragistics/icons-styles.css
  src/css/themes/infragistics/infragistics.theme.css
  src/css/themes/infragistics/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/infragistics/modules/modules.less
  src/css/themes/infragistics/variables.less
  src/css/themes/infragistics2012/icons-styles.css
  src/css/themes/infragistics2012/infragistics.theme.css
  src/css/themes/infragistics2012/infragistics.theme.less
  src/css/themes/infragistics2012/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/infragistics2012/modules/modules.less
  src/css/themes/infragistics2012/variables.less
  src/css/themes/ios/icons-styles.css
  src/css/themes/ios/infragistics.theme.css
  src/css/themes/ios/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/ios/modules/modules.less
  src/css/themes/ios/variables.less
  src/css/themes/metro/icons-styles.css
  src/css/themes/metro/infragistics.theme.css
  src/css/themes/metro/modules/infragistics.ui.chart.toolbar.less
  src/css/themes/metro/modules/modules.less
  src/css/themes/metro/variables.less
  src/html/structure/modules/infragistics.ui.financialchart.templates.html
Labels: styling, themes, toolbar

#1780 Validating if event is cancelable before preventing default behavior.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified

#1773 Fixing bug 255861
  src/js/modules/infragistics.datasource.js
Labels: status: verified, timepicker, version: 18.2
