Repository IgniteUI/ignite-ui, pull requests merged in 2018-10, with the labels that each got.

#1814 Removed duplicate dependency
  src/js/modules/infragistics.ui.validator.js
Labels: documentation, status: verified, validator, version: 18.2

#1815 Removed "pattern" from the exception message.
  src/js/modules/infragistics.util.js
Labels: status: verified, util

#1799 abbreviate and add spaces to financial chart indicator menu
  src/html/structure/modules/infragistics.ui.financialchart.templates.html
Labels: status: verified, version: 18.2

#1816 Fixed the columns size
  src/css/structure/modules/infragistics.ui.spreadsheet.css
Labels: status: verified, version: 18.2

#1823 Tfs258436 181
  src/js/modules/infragistics.util.js
  tests/unit/util/tests.html
Labels: bug, util, version: 18.1

#1822 TFS258436 - fix arrayCopy1 when copying within array
  src/js/modules/infragistics.util.js
  tests/unit/util/tests.html
Labels: bug, util, version: 17.2

#1820 Apply markup icon classes to the first span only. Fix #1817
  src/js/modules/infragistics.ui.tree.js
Labels: status: verified, tree, version: 17.2

#1819 Apply markup icon classes to the first span only. Fix #1817
  src/js/modules/infragistics.ui.tree.js
Labels: status: verified, tree, version: 18.1

#1818 Apply markup icon classes to the first span only. Fix #1817
  src/js/modules/infragistics.ui.tree.js
Labels: status: verified, tree, version: 18.2

#1821 TFS258436 - fix arrayCopy1 when copying within array
  src/js/modules/infragistics.util.js
  tests/unit/util/util-test.js
Labels: bug, util, version: 18.2

#1825 Updating node to 10.12
  .travis.yml
Labels: build

#1826 FIX TOP 10 FILTER
  src/css/structure/modules/infragistics.ui.spreadsheet.css
Labels: enhancement, status: verified, styling

#1828 Custom sort dialog is broken in IE
  src/css/structure/modules/infragistics.ui.spreadsheet.css
Labels: spreadsheet, version: 18.2

#1829 Custom sort dialog is broken in IE
  src/css/structure/modules/infragistics.ui.spreadsheet.css
Labels: spreadsheet, styling, version: 18.2
