Repository IgniteUI/ignite-ui, pull requests merged in 2018-05, with the labels that each got.

#1715 Workaround PhantomJS crash on the build machine
  tests/unit/htmleditor/basicfunctionalities/rendering/tests.html
Labels: tests

#1714 Workaround PhantomJS crash on the build machine
  tests/unit/htmleditor/basicfunctionalities/rendering/tests.html
Labels: tests

#1716 Fixing an issue in the igUtil getFlaggedName() method
  src/js/modules/infragistics.util.js
Labels: util

#1705 #1590 Removing stopPropagation from keydown event of the textEditor when maxLength is set
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/tests.html
Labels: editors, status: verified, text-editor, version: 17.2

#1709 #1590 Removing stopPropagation from the keydown event of the textEditor when maxLength is set
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/tests.html
Labels: editors, status: verified, text-editor, version: 18.2

#1708 #1590 Removing stopPropagation from the keydown event of the textEditor when maxLength is set
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/tests.html
Labels: editors, status: verified, text-editor, version: 18.1

#1713 Text editor test for bug 1590
  tests/unit/editors/textEditor/textEditor-test.js
Labels: editors, tests, text-editor

#1703 Add case for JSON date format in applyOptions
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/timePicker/timepicker-test.js
Labels: status: verified, timepicker, version: 18.1

#1706 Add support for igTimePicker in validator
  src/js/modules/infragistics.ui.validator.js
  tests/unit/dataSource/filtering/tests.html
Labels: status: verified, tests, timepicker, validator

#1707 Add support for igTimePicker in validator
  src/js/modules/infragistics.ui.validator.js
  tests/unit/dataSource/filtering/tests.html
Labels: status: verified, tests, timepicker, validator

#1719 fix(scroll-test): Fixing failing scroll test. #1483
  tests/unit/scroll/scroll-test.js
Labels: tests

#1717 Upload util locale tests
  .travis.yml
  karma.conf.js
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.popover.js
  src/js/modules/infragistics.ui.splitter.js
  tests/test-patch.js
  tests/unit/combo/api/tests.html
  tests/unit/combo/rendering/rendering-test.js
  tests/unit/dialog/dialog-test.js
  tests/unit/editors/baseEditor/base-test.js
  tests/unit/editors/checkboxEditor/checkbox-test.js
  tests/unit/editors/dateEditor/dateEditor-test.js
  tests/unit/editors/numericEditor/numericEditor-test.js
  tests/unit/editors/textEditor/textEditor-test.js
  tests/unit/htmleditor/basicfunctionalities/rendering/htmleditor-test.js
  tests/unit/knockout/editors/igCurrencyEditor/currency-test.js
  tests/unit/locale/locale-test.js
  tests/unit/locale/tests.html
  tests/unit/regional/regional-test.js
  tests/unit/regional/tests.html
  tests/unit/scroll/scroll-test.js
  tests/unit/splitter/splitter-test.js
  tests/unit/upload/tests.html
  tests/unit/upload/upload-test.js
  tests/unit/util/formatter/formatter-test.js
  tests/unit/util/formatter/tests.html
  tests/unit/util/tests.html
  tests/unit/util/util-test.js
Labels: tests, upload, util

#1731 Datasource remote operations
  src/js/modules/infragistics.datasource.js
Labels: grid, status: verified

#1729 Fixed stringSplit to escape the separators
  src/js/modules/infragistics.util.js
  tests/unit/util/tests.html
Labels: status: verified, version: 18.1

#1728 Fixed stringSplit to escape the separators
  src/js/modules/infragistics.util.js
  tests/unit/util/tests.html
Labels: status: verified, version: 17.2

#1730 Fixed stringSplit to escape the separators
  src/js/modules/infragistics.util.js
  tests/unit/util/util-test.js
Labels: status: verified, version: 18.2
