Repository IgniteUI/ignite-ui, pull requests merged in 2018-07, with the labels that each got.

#1750 1673 - igMaskEditor - revertValue retains mask - 17.1
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/maskEditor/tests.html
Labels: status: verified, version: 17.1

#1753 1752 - IgValidator `temporaryUrl` code snippet fix
  src/js/modules/infragistics.ui.dialog.js
Labels: documentation, status: verified, version: 18.1

#1755 Make sure left positioning of the popover is not negative
  src/js/modules/infragistics.ui.popover.js
Labels: popover, status: verified, version: 17.2

#1756 Make sure left positioning of the popover is not negative
  src/js/modules/infragistics.ui.popover.js
Labels: popover, status: verified, version: 18.1

#1758 fix(igtree): nodeExpanded is not raised after LOD #1725
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tests.htm
Labels: status: verified, tree, version: 17.2

#1759 fix(igtree): 18.1 nodeExpanded is not raised after LOD #1725
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tests.htm
Labels: status: verified, tree, version: 18.1

#1745 Make sure left positioning of the popover is not negative
  src/js/modules/infragistics.ui.popover.js
Labels: popover, status: verified, version: 18.2

#1767 build(npm): update npm deploy token
  .travis.yml
Labels: npm, version: 18.2

#1765 build(npm): update npm deploy token 17.2
  .travis.yml
Labels: npm, version: 17.2

#1766 build(npm): update npm deploy token 18.1
  .travis.yml
Labels: npm, version: 18.1

#1768 Fix igScroll not working on MacOS when Mac's scrollbar aren't set toalways visible.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified, version: 18.1

#1769 Fix igScroll not working on MacOS when Mac's scrollbar aren't set to always visible.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified, version: 18.2
