Repository IgniteUI/ignite-ui, pull requests merged in 2018-12, with the labels that each got.

#1830 TFS258868 17.2
  src/js/modules/infragistics.util.js
Labels: bug, version: 17.2

#1831 TFS258868 - 18.1
  src/js/modules/infragistics.util.js
Labels: bug, status: verified, version: 18.1

#1832 Tfs258868 18.2
  src/js/modules/infragistics.util.js
Labels: bug, status: verified, version: 18.2

#1833 TFS258868 - Master
  src/js/modules/infragistics.util.js
Labels: bug, status: verified, version: 19.1

#1857 #1842 - set regional defaults to "defaults" instead of "en-US" - 17.2
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.widget.js
Labels: editors, status: verified, version: 17.2

#1854 #1842 - set regional defaults to "defaults" instead of "en-US"
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.widget.js
Labels: editors, status: verified, version: 19.1

#1856 #1842 - set regional defaults to "defaults" instead of "en-US" - 18.1
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.widget.js
Labels: editors, status: verified, version: 18.1

#1855 #1842 - set regional defaults to "defaults" instead of "en-US" - 18.2
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.widget.js
Labels: editors, status: verified, version: 18.2

#1859 Update combo data source properly with KO new data source length is the same
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/tests.html
Labels: combo, knockout, status: verified, version: 17.2

#1860 Update combo data source properly with KO new data source length is the same
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/tests.html
Labels: combo, knockout, status: verified, version: 18.1

#1862 Update combo data source properly with KO new data source length is the same
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/combo-test.js
Labels: combo, knockout, status: verified, version: 19.1

#1861 Update combo data source properly with KO new data source length is the same
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/combo-test.js
Labels: combo, knockout, status: verified, version: 18.2

#1865 Fix icons color
  src/css/themes/infragistics2012/infragistics.theme.css
  src/css/themes/infragistics2012/modules/infragistics.ui.grid.less
Labels: status: verified, version: 18.2

#1866 Fix icons color
  src/css/themes/infragistics2012/infragistics.theme.css
  src/css/themes/infragistics2012/modules/infragistics.ui.grid.less
Labels: status: verified, version: 18.1

#1867 Fix icons color
  src/css/themes/infragistics2012/infragistics.theme.css
  src/css/themes/infragistics2012/modules/infragistics.ui.grid.less
Labels: status: verified, version: 17.2

#1864 Fix colors for icons
  src/css/structure/modules/infragistics.ui.grid.css
  src/css/themes/infragistics2012/infragistics.theme.css
  src/css/themes/infragistics2012/modules/infragistics.ui.grid.less
Labels: status: verified, version: 19.1

#1845 Change combo data source only when dataSource() observable is invoked
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/combo-test.js
Labels: combo, knockout, status: verified, version: 19.1

#1847 Change combo data source only when dataSource() observable is invoked
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/combo-test.js
Labels: combo, knockout, status: verified, version: 18.2

#1848 Change combo data source only when dataSource() observable is invoked
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/tests.html
Labels: combo, knockout, status: verified, version: 18.1

#1871 Change combo data source only when dataSource() observable is invoked
  src/js/extensions/infragistics.ui.combo.knockout-extensions.js
  tests/unit/knockout/combo/tests.html
Labels: combo, knockout, status: verified, version: 17.2

#1873 Parse editors value according to mask when coming wrong from edit mode
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/tests.html
  tests/unit/editors/maskEditor/tests.html
Labels: date-editor, datepicker, mask-editor, status: verified, version: 17.2

#1874 Parse editors value according to mask when coming wrong from edit mode
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/tests.html
  tests/unit/editors/maskEditor/tests.html
Labels: date-editor, datepicker, mask-editor, status: verified, version: 18.1

#1876 Parse editors value according to mask when coming wrong from edit mode
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/dateEditor-test.js
  tests/unit/editors/maskEditor/mask-test.js
Labels: date-editor, datepicker, mask-editor, status: verified, version: 19.1

#1875 Parse editors value according to mask when coming wrong from edit mode
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/dateEditor-test.js
  tests/unit/editors/maskEditor/mask-test.js
Labels: date-editor, datepicker, mask-editor, status: verified, version: 18.2

#1877 igVideoPlayer does not throw errors upon initialization on a video element - 17.2
  src/js/modules/infragistics.ui.videoplayer.js
  tests/unit/videoplayer/tests.html
Labels: status: verified, version: 17.2, video-player

#1878 igVideoPlayer does not throw errors upon initialization on a video element - 18.1
  src/js/modules/infragistics.ui.videoplayer.js
  tests/unit/videoplayer/tests.html
Labels: status: verified, version: 18.1, video-player

#1879 igVideoPlayer does not throw errors upon initialization on a video element - 18.2
  src/js/modules/infragistics.ui.videoplayer.js
  tests/unit/videoplayer/videoplayer-test.js
Labels: status: verified, version: 18.2, video-player

#1869 igVideoPlayer does not throw errors upon initialization on a video element
  src/js/modules/infragistics.ui.videoplayer.js
  tests/unit/videoplayer/videoplayer-test.js
Labels: status: verified, version: 19.1, video-player

#1883 Subtracting left and/or right borders from panels' width - 17.2
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 17.2

#1882 Subtracting left and/or right borders from panels' width - 18.1
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 18.1

#1881 Subtracting left and/or right borders from panels' width - 18.2
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 18.2

#1880 Subtracting left and/or right borders from panels' width - master
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 19.1
