Repository IgniteUI/ignite-ui, pull requests merged in 2019-04, with the labels that each got.

#1914 1902: igDateEditor - Spinning date w/o previous value present preserves entered value - 19.1
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/dateEditor-test.js
Labels: date-editor, status: verified, timepicker, version: 19.1

#1915 1902: igDateEditor - Spinning date w/o previous value present preserves entered value - 18.2
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/dateEditor/dateEditor-test.js
Labels: date-editor, status: verified, timepicker, version: 18.2

#1922 Alter async scroll test to improve failing tests.
  tests/unit/scroll/scroll-test.js
Labels: scroll, tests, version: 18.2

#1923 Alter async scroll test to improve failing tests.
  tests/unit/scroll/scroll-test.js
Labels: scroll, tests, version: 19.1

#1925 Disabling zoombar tests in 18.1
  tests/unit/zoombar/tst.html
Labels: tests

#1926 Alter async scroll test to improve failing tests.
  tests/unit/scroll/scroll-test.js
Labels: tests
