Repository IgniteUI/ignite-ui, pull requests merged in 2019-09, with the labels that each got.

#1987 Fix mask editor showing literals for empty value on blur - 18.2
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
Labels: mask-editor, status: verified, version: 18.2

#1986 Fix mask editor showing literals for empty value on blur - 19.1
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
Labels: mask-editor, status: verified, version: 19.1

#1985 Fix mask editor showing literals for empty value on blur
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
Labels: mask-editor, status: verified, version: 19.2

#2005 Fix tests broken by jQuery 3.4 - 18.2
  tests/unit/splitbutton/splitbutton-test.js
  tests/unit/validator/validator-tests.js
Labels: status: verified, tests, version: 18.2
