Repository IgniteUI/ignite-ui, pull requests merged in 2019-06, with the labels that each got.

#1942 Set default iframe size - 18.1
  src/js/modules/infragistics.ui.dialog.js
  tests/unit/dialog/tests.html
Labels: dialog, status: verified, version: 18.1

#1943 Set default iframe size - 18.2
  src/js/modules/infragistics.ui.dialog.js
  tests/unit/dialog/dialog-test.js
Labels: dialog, status: verified, version: 18.2

#1944 Set default iframe size - 19.1
  src/js/modules/infragistics.ui.dialog.js
  tests/unit/dialog/dialog-test.js
Labels: dialog, status: verified, version: 19.1

#1941 Set default iframe size
  src/js/modules/infragistics.ui.dialog.js
  tests/unit/dialog/dialog-test.js
Labels: dialog, status: verified, version: 19.2

#1950 Fix for bug #261942 - Dont reposition dropdown when setting combo sizes
  src/js/modules/infragistics.ui.combo.js
Labels: IE, bug, combo, grid, status: verified

#1949 Fix for bug #261942 - Dont reposition dropdown when setting combo sizes
  src/js/modules/infragistics.ui.combo.js
Labels: IE, bug, combo, grid, status: verified

#1951 Fix for bug #261942 - Dont reposition dropdown when setting combo sizes
  src/js/modules/infragistics.ui.combo.js
Labels: IE, bug, combo, grid, status: verified

#1945 Fix for 262919: Undefined error is thrown after child grid is rendere…
  src/js/modules/infragistics.ui.scroll.js
Labels: status: verified, version: 18.2

#1946 Fix for 262919: Undefined error is thrown after child grid is rendere…
  src/js/modules/infragistics.ui.scroll.js
Labels: status: verified, version: 19.1

#1947 Fix for 262919: Undefined error is thrown after child grid is rendere…
  src/js/modules/infragistics.ui.scroll.js
Labels: status: verified, version: 19.2

#1955 Set color of ui-igedit class when focused to initial
  src/css/themes/bootstrap3/default/framework.less
  src/css/themes/bootstrap3/default/infragistics.theme.css
  src/css/themes/bootstrap3/flatly/framework.less
  src/css/themes/bootstrap3/flatly/infragistics.theme.css
  src/css/themes/bootstrap3/superhero/framework.less
  src/css/themes/bootstrap3/superhero/infragistics.theme.css
  src/css/themes/bootstrap3/yeti/framework.less
  src/css/themes/bootstrap3/yeti/infragistics.theme.css
  src/css/themes/bootstrap4/default/_framework.scss
  src/css/themes/bootstrap4/default/infragistics.theme.css
Labels: editors, status: verified, styling, themes, version: 18.2

#1956 Set color of ui-igedit class when focused to initial
  src/css/themes/bootstrap3/default/framework.less
  src/css/themes/bootstrap3/default/infragistics.theme.css
  src/css/themes/bootstrap3/flatly/framework.less
  src/css/themes/bootstrap3/flatly/infragistics.theme.css
  src/css/themes/bootstrap3/superhero/framework.less
  src/css/themes/bootstrap3/superhero/infragistics.theme.css
  src/css/themes/bootstrap3/yeti/framework.less
  src/css/themes/bootstrap3/yeti/infragistics.theme.css
  src/css/themes/bootstrap4/default/_framework.scss
  src/css/themes/bootstrap4/default/infragistics.theme.css
Labels: editors, status: verified, styling, themes, version: 19.1

#1957 Set color of ui-igedit class when focused to initial
  src/css/themes/bootstrap3/default/framework.less
  src/css/themes/bootstrap3/default/infragistics.theme.css
  src/css/themes/bootstrap3/flatly/framework.less
  src/css/themes/bootstrap3/flatly/infragistics.theme.css
  src/css/themes/bootstrap3/superhero/framework.less
  src/css/themes/bootstrap3/superhero/infragistics.theme.css
  src/css/themes/bootstrap3/yeti/framework.less
  src/css/themes/bootstrap3/yeti/infragistics.theme.css
  src/css/themes/bootstrap4/default/_framework.scss
  src/css/themes/bootstrap4/default/infragistics.theme.css
Labels: editors, status: verified, styling, themes, version: 19.2

#1954 Adjust drop args data to handle dragging of node with nested data 18.2
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 18.2

#1953 Adjust drop args data to handle dragging of node with nested data 19.1
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 19.1

#1952 Adjust drop args data to handle dragging of node with nested data
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 19.2

#1958 Override igTextEditor._deleteList to prevent the removal of jQuery datepicker - 18.2
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/DatePickerBugs/datePickerBugs-test.js
Labels: datepicker, status: verified, version: 18.2

#1959 Override igTextEditor._deleteList to prevent the removal of jQuery datepicker - 19.1
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/DatePickerBugs/datePickerBugs-test.js
Labels: datepicker, status: verified, version: 19.1

#1960 Override igTextEditor._deleteList to prevent the removal of jQuery datepicker - 19.2
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/DatePickerBugs/datePickerBugs-test.js
Labels: datepicker, status: verified, version: 19.2

#1963 Revert to empty string in case of null - 18.2
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, datepicker, ime, status: verified

#1962 Revert to empty string in case of null - 19.1
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, datepicker, ime, status: verified

#1961 Revert to empty string in case of null - 19.2
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, datepicker, ime, status: verified

#1965 Fix issues with to/from oa date
  src/js/modules/infragistics.util.js
  tests/unit/util/util-test.js
Labels: bug, util, version: 19.1
