Repository IgniteUI/ignite-ui, pull requests merged in 2019-12, with the labels that each got.

#2027 Fix scrolling templated combo
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.1, virtualization

#2026 Fix scrolling templated combo 19.2
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.2, virtualization

#2025 Fix bug when scrolling a virtualized igCombo
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 20.1, virtualization

#2024 Adding a fix for bug #2016 where date editor didn't return millisecon…
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, status: verified, version: 20.1

#2023 Adding a fix for bug #2016 where date editor didn't return millisecon…
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, status: verified, version: 19.2

#2022 Adding a fix for bug #2016 where date editor didn't return millisecon…
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, status: verified, version: 19.1

#2021 Adding a fix for bug #2016 where date editor didn't return millisecon…
  src/js/modules/infragistics.ui.editors.js
Labels: date-editor, status: verified, version: 18.2
