Repository IgniteUI/ignite-ui, pull requests merged in 2019-01, with the labels that each got.

#1868 Vkacheshmarova/jQuery 3.3.1 compat
  src/js/modules/infragistics.ui.combo.js
  src/js/modules/infragistics.ui.dialog.js
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.layoutmanager.js
  src/js/modules/infragistics.ui.popover.js
  src/js/modules/infragistics.ui.shared.js
  src/js/modules/infragistics.ui.splitter.js
  src/js/modules/infragistics.ui.tilemanager.js
  src/js/modules/infragistics.ui.tree.js
  src/js/modules/infragistics.ui.upload.js
  src/js/modules/infragistics.ui.videoplayer.js
  src/js/modules/infragistics.ui.zoombar.js
  src/js/modules/infragistics.util.jquery.js
  tests/unit/combo/api/tests.html
  tests/unit/combo/filtering/tests.html
  tests/unit/combo/rendering/tests.html
  tests/unit/combo/selection/tests.html
  tests/unit/combo/test-shared.js
  tests/unit/editors/baseEditor/tests.html
  tests/unit/editors/numericEditor/tests.html
  tests/unit/editors/percentEditor/tests.html
  tests/unit/editors/textEditor/tests.html
  tests/unit/popover/common/tests.html
  tests/unit/scroll/simInteractions.js
  tests/unit/splitter/jquery.simulate.js
  tests/unit/splitter/tests.html
  tests/unit/tilemanager/layoutmanager/tests.html
  tests/unit/tilemanager/tilemanager/tests.html
  tests/unit/tree/tests.htm
  tests/unit/util/tests.html
  tests/unit/validator/tests.html
  tests/unit/videoplayer/tests.html
Labels: status: verified, version: 18.1

#1870 Vkacheshmarova/j query 3.3.1 compat 18.2
  package-lock.json
  package.json
  src/js/modules/infragistics.ui.combo.js
  src/js/modules/infragistics.ui.dialog.js
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.layoutmanager.js
  src/js/modules/infragistics.ui.popover.js
  src/js/modules/infragistics.ui.shared.js
  src/js/modules/infragistics.ui.splitter.js
  src/js/modules/infragistics.ui.tilemanager.js
  src/js/modules/infragistics.ui.tree.js
  src/js/modules/infragistics.ui.upload.js
  src/js/modules/infragistics.ui.videoplayer.js
  src/js/modules/infragistics.ui.zoombar.js
  src/js/modules/infragistics.util.jquery.js
  tests/unit/combo/api/api-test.js
  tests/unit/combo/rendering/rendering-test.js
  tests/unit/combo/selection/selection-test.js
  tests/unit/common/simInteractions.js
  tests/unit/dialog/dialog-test.js
  tests/unit/editors/textEditor/textEditor-test.js
  tests/unit/splitter/jquery.simulate.js
  tests/unit/splitter/splitter-test.js
  tests/unit/tilemanager/layoutmanager/layoutmanager-test.js
  tests/unit/tilemanager/layoutmanager/tests.html
  tests/unit/util/util-test.js
  tests/unit/videoplayer/videoplayer-test.js
Labels: status: verified, version: 18.2

#1886 Fix sporadically failing igScroll tests due to nested async waits.
  tests/unit/scroll/scroll-test.js
Labels: scroll, tests

#1890 Fix igTimePicker to accept date values
  demos/editors/time-picker.html
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/timePicker/timepicker-test.js
Labels: status: verified, timepicker

#1889 Add knockout binding to igTimePicker
  demos/editors/bind-editors-with-ko.html
  src/js/extensions/infragistics.ui.editors.knockout-extensions.js
  src/js/modules/infragistics.ui.editors.js
  tests/unit/knockout/editors/igTimePicker/tests.html
  tests/unit/knockout/editors/igTimePicker/timepicker-test.js
Labels: editors, status: verified, timepicker, version: 19.1
