Repository IgniteUI/ignite-ui, pull requests merged in 2019-08, with the labels that each got.

#1979 Enable trusty environment for Travis build
  .travis.yml
  karma.conf.js
  package-lock.json
  package.json
Labels: build, version: 19.2

#1978 Enable trusty environment for Travis build
  .travis.yml
  karma.conf.js
  package-lock.json
  package.json
Labels: build, version: 19.1

#1977 Enable trusty environment for Travis build
  .travis.yml
  karma.conf.js
  package-lock.json
  package.json
Labels: build, version: 18.2

#1975 Text from Excel cannot be pasted
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
  tests/unit/editors/datePicker/datePicker-test.js
Labels: datepicker, mask-editor, status: verified, version: 19.1

#1976 Text from Excel cannot be pasted
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
  tests/unit/editors/datePicker/datePicker-test.js
Labels: datepicker, mask-editor, status: verified, version: 18.2

#1973 Text from Excel cannot be pasted
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/Bugs/bugs-test.js
  tests/unit/editors/datePicker/datePicker-test.js
Labels: datepicker, mask-editor, status: verified, version: 19.2
