Repository IgniteUI/ignite-ui, pull requests merged in 2019-05, with the labels that each got.

#1929 Fix issues with to/from oa date
  src/js/modules/infragistics.util.js
  tests/unit/util/util-test.js
Labels: bug, version: 19.1

#1928 Fix issues with to/from oa date
  src/js/modules/infragistics.util.js
  tests/unit/util/util-test.js
Labels: bug, version: 18.2

#1932 Updating templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1931 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#1934 Fixing webpack support for Ignite UI
  src/js/modules/infragistics.util.jquery.js
Labels: status: verified, util, version: 18.1

#1935 Fixing webpack support fro Ignite UI
  src/js/modules/infragistics.util.jquery.js
Labels: status: verified, util, version: 18.2

#1936 Fixing webpack support for Ignite UI
  src/js/modules/infragistics.util.jquery.js
Labels: status: verified, util, version: 19.2

#1937 Fixing webpack support for Ignite UI
  src/js/modules/infragistics.util.jquery.js
Labels: status: verified, util, version: 19.1
