Repository IgniteUI/ignite-ui, pull requests merged in 2020-02, with the labels that each got.

#2035 ci(travis): update chrome addon configuration
  .travis.yml
Labels: travis-ci

#2036 ci(travis): update chrome addon configuration
  .travis.yml
Labels: travis-ci, version: 19.1

#2037 ci(travis): update chrome addon configuration
  .travis.yml
Labels: travis-ci, version: 19.2

#2047 Set proper panel widhts in splitter
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 19.1

#2046 Set proper panel widhts in splitter
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 19.2

#2045 Set proper panel widhts in splitter
  src/js/modules/infragistics.ui.splitter.js
Labels: splitter, status: verified, version: 20.1

#2044 Encode igTree anchors - 19.1
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 19.1

#2043 Encode igTree anchors - 19.2
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 19.2

#2042 Encode igTree anchors
  src/js/modules/infragistics.ui.tree.js
  tests/unit/tree/tree-test.js
Labels: status: verified, tree, version: 20.1

#2051 Use encodeUriComponent instaead of escape to encode filtering params in URL
  src/js/modules/infragistics.datasource.js
  tests/unit/dataSource/properties/properties-test.js
  tests/unit/dataSource/remote/remote-test.js
Labels: datasource, status: verified, version: 19.2

#2050 Use encodeUriComponent instaead of escape to encode filtering params in URL
  src/js/modules/infragistics.datasource.js
  tests/unit/dataSource/properties/properties-test.js
  tests/unit/dataSource/remote/remote-test.js
Labels: datasource, status: verified, version: 19.1

#2049 Use encodeUriComponent instaead of escape to encode filtering params in URL
  src/js/modules/infragistics.datasource.js
  tests/unit/dataSource/properties/properties-test.js
  tests/unit/dataSource/remote/remote-test.js
Labels: datasource, status: verified, version: 20.1

#2041 Package updates
  .jscsrc
  Gruntfile.js
  package-lock.json
  package.json
  src/js/modules/infragistics.ui.editors.js
  tests/unit/combo/rendering/rendering-test.js
Labels: code-style, combo, date-editor, status: verified, tests, version: 20.1

#2052 Fix for 1918 - Try to fit the popover into containment area if possible
  src/js/modules/infragistics.ui.popover.js
  tests/unit/popover/specific/specific-test.js
Labels: popover, status: verified, version: 20.1

#2053 Fix for 1918 - Try to fit the popover into containment area if possible
  src/js/modules/infragistics.ui.popover.js
  tests/unit/popover/specific/specific-test.js
Labels: popover, status: verified, version: 19.2

#2054 Fix for 1918 - Try to fit the popover into containment area if possible
  src/js/modules/infragistics.ui.popover.js
  tests/unit/popover/specific/specific-test.js
Labels: popover, status: verified, version: 19.1
