Repository IgniteUI/ignite-ui, pull requests merged in 2020-06, with the labels that each got.

#2071 chore(*): npm audit fix
  package-lock.json
Labels: dependencies, version: 20.2

#2074 Move thin scrollbars to show only after scrolling has started and not on touchstart.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified, version: 20.2

#2073 Move thin scrollbars to show only after scrolling has started and not on touchstart.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified, version: 20.1

#2072 Move thin scrollbars to show only after scrolling has started and not on touchstart.
  src/js/modules/infragistics.ui.scroll.js
Labels: scroll, status: verified, version: 19.2

#2079 browserDefault selectionOnFocus should preserve caret…
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/textEditor-test.js
Labels: status: verified, text-editor, version: 20.2

#2078 browserDefault selectionOnFocus should preserve caret…
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/textEditor-test.js
Labels: status: verified, text-editor, version: 20.1

#2080 browserDefault selectionOnFocus should preserve caret…
  src/js/modules/infragistics.ui.editors.js
  tests/unit/editors/textEditor/textEditor-test.js
Labels: status: verified, text-editor, version: 19.2
