Repository IgniteUI/ignite-ui, pull requests merged in 2020-04, with the labels that each got.

#2063 Fix length check - 19.1
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 19.1

#2062 Fix length check - 19.2
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 19.2

#2061 Fix length check - master
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 20.1

#2064 Focus combo input when open drop down
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 20.1

#2066 Focus combo input when open drop down - 19.1
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.1

#2065 Focus combo input when open drop down - 19.2
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.2

#2060 FIx variables and comments namings - master
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 20.1

#2059 FIx variables and comments namings 19.1
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 19.1

#2057 FIx variables and comments namings 19.2
  src/js/modules/infragistics.ui.editors.js
Labels: editors, status: verified, text-editor, version: 19.2

#2067 Update closing drop down on blur in touch devises
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 20.1

#2068 Update closing drop down on blur in touch devises - 19.1
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.1

#2069 chore(*): update closing drop down on blur in touchDevises -19.2
  src/js/modules/infragistics.ui.combo.js
Labels: combo, status: verified, version: 19.2
