Repository IgniteUI/ignite-ui, pull requests merged in 2021-11, with the labels that each got.

#2155 chore(*): updating dependencies
  package-lock.json
  package.json
Labels: version: 21.2

#2164 feat(*): updating the version of jquery-ui
  .github/workflows/node.js.yml
  karma.conf.js
  package-lock.json
  package.json
  src/js/modules/infragistics.ui.editors.js
  src/js/modules/infragistics.ui.shared.js
  src/js/modules/infragistics.ui.splitter.js
  tests/unit/editors/Bugs/bugs-test.js
  tests/unit/editors/DatePickerBugs/datePickerBugs-test.js
  tests/unit/editors/datePicker/datePicker-test.js
  tests/unit/htmleditor/basicfunctionalities/rendering/htmleditor-test.js
Labels: build, dependencies, version: 21.2

#2168 fix(numeric-editor): fix numeric editor spin button style when setting editable mode #2165
  src/js/modules/infragistics.ui.editors.js
Labels: numeric-editor, status: verified, version: 20.2

#2167 fix(numeric-editor): fix numeric editor spin button style when setting editable mode #2165
  src/js/modules/infragistics.ui.editors.js
Labels: numeric-editor, status: verified, version: 21.1

#2166 fix(numeric-editor): fix numeric editor spin button style when setting editable mode #2165
  src/js/modules/infragistics.ui.editors.js
Labels: numeric-editor, status: verified, version: 21.2
